extends layout

block content
	h1 FoM<i>machine</i>
	p This is a polyphonic synth and feedback machine. designed for Chrome using Web MIDI API and WebRTC.
	div(id="synth")
		div(id="effects")
			div(class="effect", id='attack')
				p Attack
				input(class="knob", id='a', data-width="75", data-height="75", data-displayPrevious=true, data-fgColor="#172457", data-skin="tron", data-cursor=true, value="50", data-thickness=".2")
				div(class='toggle', id='at') lin

			div(class='effect', id='decay')
				p Decay
				input(class="knob", id='d', data-width="75", data-height="75", data-displayPrevious=true, data-fgColor="#172457", data-skin="tron", data-cursor=true, value="50", data-thickness=".2")
				div(class='toggle', id='dt') lin

			div(class='effect', id='portamento')
				p Portamento
				input(class="knob", id='p' data-width="75", data-height="75", data-displayPrevious=true, data-fgColor="#172457", data-skin="tron", data-cursor=true, value="50", data-thickness=".2")
				div(class='toggle', id='pt') lin
			
			div(id='effectbottom')
				span Oscillator Type:
				div(class='toggle', id='signalType') sine
				span Note Assignment:
				div(class='toggle', id='noteBehavior') low

			div(id='outputbar')
				div(id='outputSelect') Selected channel(s):
				div(id='outputNotes') MIDI notes playing:

		div(id="selector")
			div(class='selectable', id='s1') 
				span(class="label") #1
				input(class="spinner", name="value")
				div(class="sliderBox")
					input(type="range", min="0", max="100", data-rangeslider, class="synthRange")
			
			div(id="modSelector")
				div(class='toggle' id='add') Add
				div(class='toggle' id='del') Del
	div(id="canvasWrap")
		canvas(id="canvas", width="800px", height = "325px")
	div(id="effectBox")
		div(class='loopEffect')
			span Delay
			div(class="knobWrapper")
				input(class="knob", id="delayKnob", data-width="75", data-height="75", data-displayPrevious=true, data-fgColor="#172457", data-skin="tron", data-cursor=true, value="0", data-thickness=".2")
		div(class='loopEffect')
			span EQGain
			div(class="knobWrapper")
				input(class="knob", id="eqKnob", data-width="75", data-height="75", data-displayPrevious=true, data-fgColor="#172457", data-skin="tron", data-cursor=true, value="0", data-thickness=".2")
		div(class='loopEffect')
			span Gain
			div(class="knobWrapper")
				input(class="knob", id="gainKnob", data-width="75", data-height="75", data-displayPrevious=true, data-fgColor="#172457", data-skin="tron", data-cursor=true, value="0", data-thickness=".2")
			
			
	div(id="audios")
		div(class="audioBox")
			audio(id="you", controls)
			span(class="labelAudio") self
			div(class='audioonoff') OFF
			div(class="sliderBoxRouting")
				input(type="range", min="0", max="1", step="0.01", data-rangeslider, class="routeSlider")
		
	div(id="chatbox")
		span chatterbox
		input(id="chatinput", type="text", placeholder="Message:")
		div(id="messages")
		
	div(class="buttonBox")
		div(id="newRoom", class="button") Create Your Own Feedback Room